table p {

  margin:0;
  font-size:inherit;
}

ul p{
  margin-top:1px ;
}

span.green {
    
    font-weight: bold;
    font-size: x-large;
    color: green;
}

div.duration.docutils.container {
    float: right;
    font-style: initial;
    border-radius: 5px;
    border-bottom: solid 1px green;
}

.wy-nav-side {
  display: none;
}

.wy-nav-content-wrap {
  margin-left: 0;
}

.wy-nav-top {
  
  display:none;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .localtoc {
    display: inherit; }
  .document {
        width: 80%; }    }
        
.wy-body-for-nav {
  
  background:none;
  padding:0px;
}

.wy-nav-content {
  padding:inherit
}